<ion-view title="'Coach Crabbe'">
  <ion-content has-header="true" padding="true">
    <h2>How mad are you at your team?</h2>
    <a class="button button-full button-stable" href="#/workout/annoyed">
      Annoyed
    </a>
    <a class="button button-full yellow" href="#/workout/irritated">
      Irritated
    </a>
    <a class="button button-full button-energized" href="#/workout/mad">
      Mad
    </a>
    <a class="button button-full button-assertive" href="#/workout/livid">
      Livid
    </a>
    <a class="button button-full button-royal" href="#/workout/furious">
      Furious
    </a>
  </ion-content>
</ion-view>